body, html, #root {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  z-index: 10;
  text-shadow: 1px 1px 2px black;
}

.command-form {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Certifique-se de que o z-index seja maior que o do mapa */
}

.command-form input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.command-form button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.command-form button:hover {
  background-color: #0056b3;
}

.marker {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  z-index: 1000; /* Certifique-se de que o z-index seja maior que o do mapa */
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1 {
  margin-top: 20px;
}

p {
  color: rgb(0, 0, 0);
}

p1 {
  color: rgb(255, 255, 255);
}

.disconnected-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000; /* Certifique-se de que o z-index seja maior que o do mapa */
  font-size: 16px;
  font-weight: bold;
}

.marker.connected {
  background-color: green;
}

.marker.disconnected {
  background-color: red;
}

.reset-button{
  margin-left: 10px;
  border-radius: 50%;

}